<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_ly_Ban_Hang_Luu_Niem.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=DuyTung98;Initial Catalog=QuanLyBanHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--The license context used-->
		<add key="Epplus:ExcellPackage.LicenseContext" value="NonCommercial"/>
		
	</appSettings>
</configuration>